:root {
    --primary: #020031;
    --secondary: #ffc107;
    --light: #eff5f9;
    --dark: #19376d;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
    
  }

html{
    background-color:#5a5073;
    scroll-behavior: smooth;
}

.navbar {
    box-shadow: 0px 4px 6px rgba(1, 1, 1, 0.5); /* Ubah nilai ini sesuai preferensi Anda */
}
  
.hero, .about, .project, .contact {
    min-height: 100vh;
    display: flex;
}

.hero .content h1 {
    font-size: 1.7cm;
    color: var(--light);
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--secondary);
}
  
.hero .content p {
    font-style: italic;
    font-size: 1.3rem;
    margin-top: 1rem;
    color: #fff;
} 

h2 span{
    color: var(--secondary);
}